In [4]:
import pandas as pd
import numpy as np

sales_dict = pd.read_excel (r'C:\Users\trainor-gilhamt\Documents\Red Bull UK\RedBull Value Sales MAT July 2022.xlsx', sheet_name = None, header = [0])

sales = pd.DataFrame()
for k in sales_dict.keys():
    tempdf = sales_dict[k].copy()
    tempdf['Retailer'] = k
    sales = sales.append(tempdf, sort = False)
sales

,INFOSDESC,INFOITEM,Date,Value Sales MAT,Retailer
0,AFRMLT LOW-ALCHL-BR 0% CAN METAL 500ML X1,0793573724441,2020-07-11,313.2,Asda
1,AFRMLT LOW-ALCHL-BR 0% CAN METAL 500ML X1,0793573724441,2020-07-18,376.5,Asda
2,AFRMLT LOW-ALCHL-BR 0% CAN METAL 500ML X1,0793573724441,2020-07-25,349.2,Asda
3,AFRMLT LOW-ALCHL-BR 0% CAN METAL 500ML X1,0793573724441,2020-08-01,389.3,Asda
4,AFRMLT LOW-ALCHL-BR 0% CAN METAL 500ML X1,0793573724441,2020-08-08,302.4,Asda
...,...,...,...,...,...
24955,SUNTRY RIBN-SPRKLNG FLAVRD-DRNK RASPBRRY CAFFN...,5054267010178.0,2022-06-04,NaN,Wilko
24956,SUNTRY RIBN-SPRKLNG FLAVRD-DRNK RASPBRRY CAFFN...,5054267010178.0,2022-06-11,NaN,Wilko
24957,SUNTRY RIBN-SPRKLNG FLAVRD-DRNK RASPBRRY CAFFN...,5054267010178.0,2022-06-18,NaN,Wilko
24958,SUNTRY RIBN-SPRKLNG FLAVRD-DRNK RASPBRRY CAFFN...,5054267010178.0,2022-06-25,NaN,Wilko
24959,SUNTRY RIBN-SPRKLNG FLAVRD-DRNK RASPBRRY CAFFN...,5054267010178.0,2022-07-02,NaN,Wilko

In [5]:
import pandas as pd
import numpy as np

units_dict = pd.read_excel (r'C:\Users\trainor-gilhamt\Documents\Red Bull UK\RedBull Unit Sales MAT July 2022.xlsx', sheet_name = None, header = [0])

units = pd.DataFrame()
for k in units_dict.keys():
    tempdf = units_dict[k].copy()
    tempdf['Retailer'] = k
    units = units.append(tempdf, sort = False)

units

,INFOSDESC,INFOITEM,Date,Unit Sales MAT,Retailer
0,AFRMLT LOW-ALCHL-BR 0% CAN METAL 500ML X1,0793573724441,2020-07-11,292.0,Asda
1,AFRMLT LOW-ALCHL-BR 0% CAN METAL 500ML X1,0793573724441,2020-07-18,349.0,Asda
2,AFRMLT LOW-ALCHL-BR 0% CAN METAL 500ML X1,0793573724441,2020-07-25,326.0,Asda
3,AFRMLT LOW-ALCHL-BR 0% CAN METAL 500ML X1,0793573724441,2020-08-01,362.0,Asda
4,AFRMLT LOW-ALCHL-BR 0% CAN METAL 500ML X1,0793573724441,2020-08-08,280.0,Asda
...,...,...,...,...,...
24955,SUNTRY RIBN-SPRKLNG FLAVRD-DRNK RASPBRRY CAFFN...,5054267010178.0,2022-06-04,NaN,Wilko
24956,SUNTRY RIBN-SPRKLNG FLAVRD-DRNK RASPBRRY CAFFN...,5054267010178.0,2022-06-11,NaN,Wilko
24957,SUNTRY RIBN-SPRKLNG FLAVRD-DRNK RASPBRRY CAFFN...,5054267010178.0,2022-06-18,NaN,Wilko
24958,SUNTRY RIBN-SPRKLNG FLAVRD-DRNK RASPBRRY CAFFN...,5054267010178.0,2022-06-25,NaN,Wilko
24959,SUNTRY RIBN-SPRKLNG FLAVRD-DRNK RASPBRRY CAFFN...,5054267010178.0,2022-07-02,NaN,Wilko

In [6]:
import pandas as pd
import numpy as np

dist_dict = pd.read_excel (r'C:\Users\trainor-gilhamt\Documents\Red Bull UK\RedBull Dist MAT July 2022.xlsx', sheet_name = None, header = [0])

dist = pd.DataFrame()
for k in dist_dict.keys():
    tempdf = dist_dict[k].copy()
    tempdf['Retailer'] = k
    dist = dist.append(tempdf, sort = False)

dist

,INFOSDESC,INFOITEM,Date,Dist MAT,Retailer
0,AFRMLT LOW-ALCHL-BR 0% CAN METAL 500ML X1,0793573724441,2020-07-11,7.0,Asda
1,AFRMLT LOW-ALCHL-BR 0% CAN METAL 500ML X1,0793573724441,2020-07-18,7.0,Asda
2,AFRMLT LOW-ALCHL-BR 0% CAN METAL 500ML X1,0793573724441,2020-07-25,7.0,Asda
3,AFRMLT LOW-ALCHL-BR 0% CAN METAL 500ML X1,0793573724441,2020-08-01,7.0,Asda
4,AFRMLT LOW-ALCHL-BR 0% CAN METAL 500ML X1,0793573724441,2020-08-08,7.0,Asda
...,...,...,...,...,...
24955,SUNTRY RIBN-SPRKLNG FLAVRD-DRNK RASPBRRY CAFFN...,5054267010178.0,2022-06-04,NaN,Wilko
24956,SUNTRY RIBN-SPRKLNG FLAVRD-DRNK RASPBRRY CAFFN...,5054267010178.0,2022-06-11,NaN,Wilko
24957,SUNTRY RIBN-SPRKLNG FLAVRD-DRNK RASPBRRY CAFFN...,5054267010178.0,2022-06-18,NaN,Wilko
24958,SUNTRY RIBN-SPRKLNG FLAVRD-DRNK RASPBRRY CAFFN...,5054267010178.0,2022-06-25,NaN,Wilko
24959,SUNTRY RIBN-SPRKLNG FLAVRD-DRNK RASPBRRY CAFFN...,5054267010178.0,2022-07-02,NaN,Wilko

In [9]:
Merged = units.merge(sales,how ='left').merge(dist,how ='left')

Merged

,INFOSDESC,INFOITEM,Date,Unit Sales MAT,Retailer,Value Sales MAT,Dist MAT
0,AFRMLT LOW-ALCHL-BR 0% CAN METAL 500ML X1,0793573724441,2020-07-11,292.0,Asda,313.2,7.0
1,AFRMLT LOW-ALCHL-BR 0% CAN METAL 500ML X1,0793573724441,2020-07-18,349.0,Asda,376.5,7.0
2,AFRMLT LOW-ALCHL-BR 0% CAN METAL 500ML X1,0793573724441,2020-07-25,326.0,Asda,349.2,7.0
3,AFRMLT LOW-ALCHL-BR 0% CAN METAL 500ML X1,0793573724441,2020-08-01,362.0,Asda,389.3,7.0
4,AFRMLT LOW-ALCHL-BR 0% CAN METAL 500ML X1,0793573724441,2020-08-08,280.0,Asda,302.4,7.0
...,...,...,...,...,...,...,...
601635,SUNTRY RIBN-SPRKLNG FLAVRD-DRNK RASPBRRY CAFFN...,5054267010178.0,2022-06-04,NaN,Wilko,NaN,NaN
601636,SUNTRY RIBN-SPRKLNG FLAVRD-DRNK RASPBRRY CAFFN...,5054267010178.0,2022-06-11,NaN,Wilko,NaN,NaN
601637,SUNTRY RIBN-SPRKLNG FLAVRD-DRNK RASPBRRY CAFFN...,5054267010178.0,2022-06-18,NaN,Wilko,NaN,NaN
601638,SUNTRY RIBN-SPRKLNG FLAVRD-DRNK RASPBRRY CAFFN...,5054267010178.0,2022-06-25,NaN,Wilko,NaN,NaN
601639,SUNTRY RIBN-SPRKLNG FLAVRD-DRNK RASPBRRY CAFFN...,5054267010178.0,2022-07-02,NaN,Wilko,NaN,NaN

In [10]:
Merged['Unit Sales MAT'] = Merged['Unit Sales MAT'].fillna(0)

In [11]:
Merged['Value Sales MAT'] = Merged['Value Sales MAT'].fillna(0)

In [12]:
Merged['Dist MAT'] = Merged['Dist MAT'].fillna(0)

In [13]:
Merged

,INFOSDESC,INFOITEM,Date,Unit Sales MAT,Retailer,Value Sales MAT,Dist MAT
0,AFRMLT LOW-ALCHL-BR 0% CAN METAL 500ML X1,0793573724441,2020-07-11,292.0,Asda,313.2,7.0
1,AFRMLT LOW-ALCHL-BR 0% CAN METAL 500ML X1,0793573724441,2020-07-18,349.0,Asda,376.5,7.0
2,AFRMLT LOW-ALCHL-BR 0% CAN METAL 500ML X1,0793573724441,2020-07-25,326.0,Asda,349.2,7.0
3,AFRMLT LOW-ALCHL-BR 0% CAN METAL 500ML X1,0793573724441,2020-08-01,362.0,Asda,389.3,7.0
4,AFRMLT LOW-ALCHL-BR 0% CAN METAL 500ML X1,0793573724441,2020-08-08,280.0,Asda,302.4,7.0
...,...,...,...,...,...,...,...
601635,SUNTRY RIBN-SPRKLNG FLAVRD-DRNK RASPBRRY CAFFN...,5054267010178.0,2022-06-04,0.0,Wilko,0.0,0.0
601636,SUNTRY RIBN-SPRKLNG FLAVRD-DRNK RASPBRRY CAFFN...,5054267010178.0,2022-06-11,0.0,Wilko,0.0,0.0
601637,SUNTRY RIBN-SPRKLNG FLAVRD-DRNK RASPBRRY CAFFN...,5054267010178.0,2022-06-18,0.0,Wilko,0.0,0.0
601638,SUNTRY RIBN-SPRKLNG FLAVRD-DRNK RASPBRRY CAFFN...,5054267010178.0,2022-06-25,0.0,Wilko,0.0,0.0
601639,SUNTRY RIBN-SPRKLNG FLAVRD-DRNK RASPBRRY CAFFN...,5054267010178.0,2022-07-02,0.0,Wilko,0.0,0.0

In [15]:
Final = Merged.rename(columns={'INFOITEM':'UPC', 'Unit Sales MAT':'Units', 'Dist MAT':'ACV', 'Value Sales MAT':'Sales'})


column_names = ["Retailer", "UPC", "Date", "Units", "Sales", "ACV"]

Final = Final.reindex(columns=column_names)

Final

       Retailer              UPC       Date  Units  Sales  ACV
0          Asda    0793573724441 2020-07-11  292.0  313.2  7.0
1          Asda    0793573724441 2020-07-18  349.0  376.5  7.0
2          Asda    0793573724441 2020-07-25  326.0  349.2  7.0
3          Asda    0793573724441 2020-08-01  362.0  389.3  7.0
4          Asda    0793573724441 2020-08-08  280.0  302.4  7.0
...         ...              ...        ...    ...    ...  ...
601635    Wilko  5054267010178.0 2022-06-04    0.0    0.0  0.0
601636    Wilko  5054267010178.0 2022-06-11    0.0    0.0  0.0
601637    Wilko  5054267010178.0 2022-06-18    0.0    0.0  0.0
601638    Wilko  5054267010178.0 2022-06-25    0.0    0.0  0.0
601639    Wilko  5054267010178.0 2022-07-02    0.0    0.0  0.0

[601640 rows x 6 columns]

In [16]:
Final.to_csv(r'C:\Users\trainor-gilhamt\Documents\Red Bull UK\RM Formatted Data\RedBull_Curve_Model_Data_Transformed.CSV', index = False)

In [19]:
#Import Excel files for merging

UNITS = pd.read_excel (r'C:\Users\trainor-gilhamt\Documents\Red Bull UK\RM Formatted Data\Python Formatted Data\Formatted Unit Sales.xlsx')
DOLLAR = pd.read_excel (r'C:\Users\trainor-gilhamt\Documents\Red Bull UK\RM Formatted Data\Python Formatted Data\Formatted Value Sales.xlsx')
ACV = pd.read_excel (r'C:\Users\trainor-gilhamt\Documents\Red Bull UK\RM Formatted Data\Python Formatted Data\Formatted ACV.xlsx')

In [20]:
UNITS.dtypes

Unnamed: 0             int64
INFOSDESC             object
UPC_DESC              object
Retailer              object
WEEK          datetime64[ns]
UNITS                float64
dtype: object

In [21]:
DOLLAR.dtypes

Unnamed: 0             int64
INFOSDESC             object
UPC_DESC              object
Retailer              object
WEEK          datetime64[ns]
DOLLAR               float64
dtype: object

In [22]:
ACV.dtypes

Unnamed: 0             int64
INFOSDESC             object
UPC_DESC              object
Retailer              object
WEEK          datetime64[ns]
ACV                    int64
dtype: object

In [36]:
ACV['ACV'] = ACV['ACV'].fillna(0)

In [37]:
# Convert to Datetime

DOLLAR['WEEK'] =  pd.to_datetime(DOLLAR['WEEK'], infer_datetime_format=True)

ACV['WEEK'] =  pd.to_datetime(ACV['WEEK'], infer_datetime_format=True)

In [31]:
Final.drop(columns=['Unnamed: 0'], axis=1)

,INFOSDESC,UPC_DESC,Retailer,WEEK,UNITS,DOLLAR,ACV
0,CONCNTRT/CRDL/SQSH/SYRP SARSPRLL WITH-CNCNTRTD...,5024143000012,Asda,2021-07-10,602.0,1071.5,9.0
1,CONCNTRT/CRDL/SQSH/SYRP SARSPRLL WITH-CNCNTRTD...,5024143000012,Asda,2021-07-17,597.0,1044.6,9.0
2,CONCNTRT/CRDL/SQSH/SYRP SARSPRLL WITH-CNCNTRTD...,5024143000012,Asda,2021-07-24,691.0,1231.2,9.0
3,CONCNTRT/CRDL/SQSH/SYRP SARSPRLL WITH-CNCNTRTD...,5024143000012,Asda,2021-07-31,673.0,1202.4,9.0
4,CONCNTRT/CRDL/SQSH/SYRP SARSPRLL WITH-CNCNTRTD...,5024143000012,Asda,2021-08-07,579.0,1029.2,9.0
...,...,...,...,...,...,...,...
294769,SUNTRY RIBN-SPRKLNG FLAVRD-DRNK RASPBRRY CAFFN...,5054267010178,Wilko,2022-02-26,31.0,2.9,NaN
294770,SUNTRY RIBN-SPRKLNG FLAVRD-DRNK RASPBRRY CAFFN...,5054267010178,Wilko,2022-03-05,12.0,1.2,NaN
294771,SUNTRY RIBN-SPRKLNG FLAVRD-DRNK RASPBRRY CAFFN...,5054267010178,Wilko,2022-03-12,1.0,0.1,NaN
294772,SUNTRY RIBN-SPRKLNG FLAVRD-DRNK RASPBRRY CAFFN...,5054267010178,Wilko,2022-03-19,5.0,0.4,NaN
294773,SUNTRY RIBN-SPRKLNG FLAVRD-DRNK RASPBRRY CAFFN...,5054267010178,Wilko,2022-03-26,1.0,0.1,NaN

In [40]:
Final.replace(np.nan, 0)

,Unnamed: 0,INFOSDESC,UPC_DESC,Retailer,WEEK,UNITS,DOLLAR,ACV
0,0,CONCNTRT/CRDL/SQSH/SYRP SARSPRLL WITH-CNCNTRTD...,5024143000012,Asda,2021-07-10,602.0,1071.5,9.0
1,1,CONCNTRT/CRDL/SQSH/SYRP SARSPRLL WITH-CNCNTRTD...,5024143000012,Asda,2021-07-17,597.0,1044.6,9.0
2,2,CONCNTRT/CRDL/SQSH/SYRP SARSPRLL WITH-CNCNTRTD...,5024143000012,Asda,2021-07-24,691.0,1231.2,9.0
3,3,CONCNTRT/CRDL/SQSH/SYRP SARSPRLL WITH-CNCNTRTD...,5024143000012,Asda,2021-07-31,673.0,1202.4,9.0
4,4,CONCNTRT/CRDL/SQSH/SYRP SARSPRLL WITH-CNCNTRTD...,5024143000012,Asda,2021-08-07,579.0,1029.2,9.0
...,...,...,...,...,...,...,...,...
294769,294769,SUNTRY RIBN-SPRKLNG FLAVRD-DRNK RASPBRRY CAFFN...,5054267010178,Wilko,2022-02-26,31.0,2.9,0.0
294770,294770,SUNTRY RIBN-SPRKLNG FLAVRD-DRNK RASPBRRY CAFFN...,5054267010178,Wilko,2022-03-05,12.0,1.2,0.0
294771,294771,SUNTRY RIBN-SPRKLNG FLAVRD-DRNK RASPBRRY CAFFN...,5054267010178,Wilko,2022-03-12,1.0,0.1,0.0
294772,294772,SUNTRY RIBN-SPRKLNG FLAVRD-DRNK RASPBRRY CAFFN...,5054267010178,Wilko,2022-03-19,5.0,0.4,0.0
294773,294773,SUNTRY RIBN-SPRKLNG FLAVRD-DRNK RASPBRRY CAFFN...,5054267010178,Wilko,2022-03-26,1.0,0.1,0.0